
:root {
  --color-black: #1b1b1b;  /* Чорний */
  --color-white: #f9f9f9;  /* Білий */
  --color-gray: #b0b0b0;   /* Сірий */
  --color-accent: #0057a3; /* Темно-синій акцентний */
  --color-bg: #242323;
}

